{% extends "base.html.twig" %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
    <main class="container mt-5">
        <section class="row">
            <div class="col-12">
                <h3 class="mb-2">Ajouter un produit</h3>
                <hr>
                {% include "admin/products/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}