{% extends "base.html.twig" %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
    <main class="container my-5">
        <section class="row">
            <div class="col-12">
                <h3 class="mb-2">Modifier le produit</h3>
                <hr>
                {% include "admin/products/_form.html.twig" with {'button_label': 'Modifier'} %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}" defer></script>
{% endblock %}